/* General Page Styling */
.signup-container {
    background-color: #F1F0E8; /* Full black background */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  
  }
  
  /* Form Styling */
  .signup-container form {
    background-color: #B3C8CF; /* Dark grey form background */
    padding: 30px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: left;
  }
  
  /* Form Heading */
  .signup-container h2 {
    color: black;
    text-align: left; /* Left-aligned heading */
    margin-bottom: 20px;
  }
  
  /* Input Groups */
  .input-group {
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px; /* Slightly increased input height */
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #F1F0E8;
    color: black;
  }
  
  /* Input Focus Effect */
  .input-group input:focus {
    border-color: #4da8ff;
    outline: none;
  }
  
  /* Error Message */
  .error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  /* Success Message */
  .success-message {
    color: green;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  /* Button Styling */
  .but {
    width: 100%;
    background-color: #89A8B2;
    color: white;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Button Hover Effect */
  .signup-container button:hover {
    background-color: #004080;
  }
  